<%- include('../partials/header') %>
<style>
    body { background-color: brown;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center; 
    } 
    h2   {color: beige}
    h1   {color: black}
    h4 {color: brown}
</style>
<div class="container6">
</div>
<h1><%= username %>'s Favorite Recipes</h1>
<% if (recipes.length > 0) { %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% recipes.forEach(function(recipe) { %>
                <tr>
                    <td><%= recipe.title %></td>
                    <td>
                        <form action="delete/<%= recipe._id %>" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <form action="update/<%= recipe._id %>" method="POST">
                            <div class="input-group">
                                <input type="text" class="form-control" name="title" placeholder="Enter New Title Name">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <%= "No recipes found." %>
<% } %>
<%- include('../partials/footer') %>