<%- include('../partials/header') %>
<style>
    body { background-color: brown;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center; 
    } 
    h2   {color: beige}
    h1   {color: black}
    h4 {color: brown}
</style>
<div class="container6">
</div>
    <h1><%= username %>'s Favorite Recipes</h1>
    <% recipes.forEach(function(recipe) { %>
    <h2><%= recipe.title %><h2></td>
        <form action="delete/<%= recipe._id %>" method=POST>
            <button type="submit">Delete</button>
        </form>
        <form action="update/<%= recipe._id %>" method=POST>
            <fieldset>
                <input type="text" name="title" id="Title" placeholder="Enter New Title Name">
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    <% }) %>   
<%- include('../partials/footer') %>